* {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#profile__img {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
  margin: 0 auto 1rem;

} */

#profile__img:hover {
  border: 0.4rem solid #808080;
  transition: all 0.2s ease-in-out;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

p {
  cursor: default;
  text-align: center;
  align-items: center;
  font-size: 25px;
}

#slack {
  display: none;
}

.share {
  float: right;
  cursor: pointer;
  font-size: 17px;
}

@media screen and (max-width: 1070px) {


  .share {
    display: none;
  }
}


@media screen and (min-width: 1070px) {
  .more {
    display: none;
  }
}

@media screen and (max-width: 1070px) {


  .more {
    float: right;
    cursor: pointer;
    font-size: 17px;
  }
}

.link {
  margin-top: 2.5rem;
  box-sizing: border-box;
  display: block;
  flex-direction: column;
  justify-content: center;
}

a {
  text-decoration: none;
  font-size: 15px;
  color: #000000;
}


button {
  width: 1000px;
  height: 3.5rem;
  margin: 1rem;
  border-color: transparent;
  display: block;
  border-radius: 0.5rem;
  padding: 0.75rem 1rem;
  text-align: center;
  cursor: pointer;
  background-color: #F0F0F0;
}


@media screen and (max-width: 1070px) {

  button {
    width: 300px;
    transition: all 0.3s ease-in-out;
  }
}

#icon {
  margin: 15px;
  cursor: pointer;
  text-align: center;
  align-items: center;
  font-size: 50px;
}

